:root {
    --black-text: #212121;
    --grey-text: #757575;
    --grey-text-footer: color: rgba(255, 255, 255, 0.6);
    --dark-grey: #2F303A; /* background-color */
    --white-text: #FFFFFF;
    --blue: #2196F3;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Хедер (навигация и конктакты*/
.site-nav .link {
    color: var(--black-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--blue);
    text-decoration: none;
}

.logo-black {
    color: var(--black-text);
}

.logo-white {
    color: var(--white-text);
}

.contacts-head .link {
    color: var(--grey-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}



.list-item {
    list-style-type: none;
}

.link.current-page {
    color: var(--blue);
}

/* Мейн */

/* Хироу секция */

.hero {
     background-color: var(--dark-grey); 
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text);
}

.hero-button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88; 
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--blue);
}

/* Особенности */

.spec-title {    
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    color: var(--black-text);
}

/* Чем мы занимаемся и наша команда*/
.work-title,
.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--black-text);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--black-text);
}

.team-position {
    font-size: 16px;
    line-height: 1.19;    
}

/* Футтер */

.footer {
    background-color: var(--dark-grey);
}

.address {
    font-style: normal;
}

.physical-address {
    color: var(--white-text);
}

.footer .link {
    color: var(--grey-text-footer);    
    text-decoration: none;    
}

.link:hover, 
.link:focus {
    color: var(--blue);
}

/* Портфолио */

.portfolio .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-text);
}

.portfolio .text {
    font-size: 16px;
    line-height: 1.88;
}

.portfolio .button {
    color: var(--black-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--white-text);
    background-color: var(--blue);
}

