:root {
    --black-text: #212121;
    --grey-text: #757575;
    --grey-text-footer: color: rgba(255, 255, 255, 0.6);
    --dark-grey: #2F303A; /* background-color */
    --white-text: #FFFFFF;
    --blue: #2196F3;
    --border-header: #ECECEC;
    --border-portlofio: #EEEEEE;
    --grey-bcg: #F5F4FA;
    --hero-button-shadow: rgba(0, 0, 0, 0.15);    
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.list-item {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
/* Хедер (навигация и конктакты*/
.flex {
display: flex;
align-items: center;
}

.site-nav .list-item {
    margin-left: 93px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav .link {
    color: var(--black-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--blue);
    text-decoration: none;
}

.logo-black {
    color: var(--black-text);
}

.logo-white {
    color: var(--white-text);
}

.contacts-head.list-item {
    margin-left: auto;    
}

.contacts-head .link {
    color: var(--grey-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-head .item + .item {
    margin-left: 50px;
}


.link.current-page {
    color: var(--blue);
}

.header-border {
    border-bottom: 1px solid var(--border-header);
}

/* Мейн */

/* Хироу секция */

.hero {
     background-color: var(--dark-grey); 
     text-align: center;
    padding: 200px 0px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text);
    margin: 0 0 30px;
}

.hero-button {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88; 
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 4px; 
    padding: 10px 32px;
    box-shadow: 0px 4px 4px var(--hero-button-shadow);   
}

/* Особенности */
.spec-section {
    padding: 94px 0 47px;
}

.spec-title {    
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--black-text);
}

.spec-section .list-item {
    display: flex;
}

.spec-section .item {
    margin-right: 30px;
}
.spec-section .item:last-child {
    margin-right: 0;
}


.spec-title {
    margin: 0px 0px 10px;
}
.spec-text {
    margin: 0px;
}

/* Чем мы занимаемся и наша команда*/
.work-section {
    padding: 47px 0 94px;
}

.team-section {
    padding: 94px 0 94px;
    background-color: var(--grey-bcg);
}

.team-section .content {
    padding: 30px 0;
}

.work-section .list-item {
    display: flex;
    justify-content: space-between;
}

.imgblock {
    display: block;
}

.work-title,
.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--black-text);
    margin: 0px 0px 50px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--black-text);
}

.team-position {
    font-size: 16px;
    line-height: 1.19;    
}

.team-section .list-item {
    display: flex;
    justify-content: space-between;
}

.team-section .item {
    text-align: center;
    /* border: 1px solid transparent; 
    border-radius: 5px;
    box-shadow: #757575; */

}

.team-section .team-name {
    margin: 0 0 10px;
}
.team-section .team-position {
    margin: 0;    
}

/* Футтер */

.footer {
    background-color: var(--dark-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}


.address {
    font-style: normal;
}

.physical-address {
    color: var(--white-text);
    margin: 0 0 9px;
}

.footer .list-item .item:first-child {
    margin-bottom: 9px;
}

.footer .link {
    color: var(--grey-text-footer);    
    text-decoration: none;    
}

.link:hover, 
.link:focus {
    color: var(--blue);
}

/* Портфолио */

.portfolio {
    padding: 94px 0;
}

.portfolio .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-text);
    margin: 0px 0px 4px;
}

.portfolio .text {
    font-size: 16px;
    line-height: 1.88;
    margin: 0px;    
}

.filter-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0px 0px 50px;
}

.filter-list .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio .button {
    color: var(--black-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--grey-bcg);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 22px;
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--white-text);
    background-color: var(--blue);
}

.portfolio .list-item {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .list-item .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;    
}

.portfolio .list-item .item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio .list-item .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.content {
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-portlofio);
    border-right: 1px solid var(--border-portlofio);
    border-left: 1px solid var(--border-portlofio);
}
